
//
// Stuff/Configurations/AdHoc.xcconfig
//
// Customize with AdHoc or OTA Build settings. Uses Release.xcconfig
//

#include "Application.xcconfig"
#include "../../../Configurations/Release.xcconfig"

BUILD_PLATFORM_NAME_PATH        = $(BUILD_SHARED_LIBRARIES_PATH)/Release/$(SDK_NAME)
//CODE_SIGN_ENTITLEMENTS        = $(PROJECT_TREE_CLASSES_PATH)/ApplicationDelegate/Resources/PropertyLists/Entitlements.plist
CODE_SIGN_IDENTITY              = iPhone Distribution
CURRENT_PROJECT_VERSION         = $(BUILD_APPLICATION_VERSION)
GCC_PREPROCESSOR_DEFINITIONS    = NDEBUG
GCC_OPTIMIZATION_LEVEL          = s
VALIDATE_PRODUCT                = NO
