
//
// ThingKit/Configurations/Library.xcconfig
//

#include "../../../Configurations/Library.xcconfig"
#include "../../../Configurations/Libraries.xcconfig"

// Product Name
PRODUCT_NAME = ThingKit

// Library Version
BUILD_LIBRARY_VERSION = A

// Library Resource Bundle
LIBRARY_RESOURCE_BUNDLE_NAME = ThingKit.bundle

// Clang
RUN_CLANG_STATIC_ANALYZER = YES

// Search Paths
HEADER_SEARCH_PATHS  = $(STDLIB_HEADER_PATH)
LIBRARY_SEARCH_PATHS = $(STDLIB_LIBRARY_PATH)

//
// Cut and paste this to Configurations/Libraries.xcconfig
// and rename to match conventions
// FooKit to FOOKIT

// ThingKit

//ThingKit_HEADER_PATH          = $(BUILD_PLATFORM_NAME_PATH)/ThingKit/Headers/
//ThingKit_PRIVATEHEADER_PATH   = $(BUILD_PLATFORM_NAME_PATH)/ThingKit/PrivateHeaders/
//ThingKit_LIBRARY_PATH         = $(BUILD_PLATFORM_NAME_PATH)/ThingKit/
//ThingKit_LIBRARY_FLAG         = -lThingKit
//ThingKit_RESOURCE_BUNDLE_NAME = ThingKit.bundle
