
//
// Libraries.xcconfig
// Local Libraries - Declarations by alpha. Order unimportant.
//
// A newly created BuildKit Library project template has these declarations
// in the projects Configuration directory in the file Library.xcconfig. Copy and
// paste here and library header and linker paths will be available to other library 
// and application projects in the tree that add the declarations to their own
// Application.xcconfig or Library.xcconfig.
//
// The libraries below are provided as examples of course.
//

#include "Frameworks.xcconfig"

// ThingKit

THINGKIT_HEADER_PATH          = $(BUILD_PLATFORM_NAME_PATH)/ThingKit/Headers/
THINGKIT_PRIVATEHEADER_PATH   = $(BUILD_PLATFORM_NAME_PATH)/ThingKit/PrivateHeaders/
THINGKIT_LIBRARY_PATH         = $(BUILD_PLATFORM_NAME_PATH)/ThingKit/
THINGKIT_LIBRARY_FLAG         = -lThingKit
THINGKIT_RESOURCE_BUNDLE_NAME = ThingKit.bundle

// StuffKit

STUFFKIT_HEADER_PATH          = $(BUILD_PLATFORM_NAME_PATH)/StuffKit/Headers/
STUFFKIT_PRIVATEHEADER_PATH   = $(BUILD_PLATFORM_NAME_PATH)/StuffKit/PrivateHeaders/
STUFFKIT_LIBRARY_PATH         = $(BUILD_PLATFORM_NAME_PATH)/StuffKit/
STUFFKIT_LIBRARY_FLAG         = -lStuffKit
STUFFKIT_RESOURCE_BUNDLE_NAME = StuffKit.bundle
