
//
//  Library.xcconfig
//

GCC_PRECOMPILE_PREFIX_HEADER	= NO

PRIVATE_HEADERS_FOLDER_PATH		= /usr/local/include/$(PRODUCT_NAME)
PUBLIC_HEADERS_FOLDER_PATH		= /usr/local/include/$(PRODUCT_NAME)

PROJECT_TREE_SOURCE_PATH		= Source
PROJECT_TREE_CLASSES_PATH		= $(PROJECT_TREE_SOURCE_PATH)/Classes
PROJECT_TREE_PROJECT_PATH		= $(PROJECT_TREE_SOURCE_PATH)/Project
PROJECT_TREE_RESOURCES_PATH		= $(PROJECT_TREE_SOURCE_PATH)/Resources
PROJECT_TREE_UNITTESTS_PATH		= $(PROJECT_TREE_SOURCE_PATH)/UnitTests

LIBRARY_RESOURCE_BUNDLE_PATH	= $(PROJECT_TREE_RESOURCES_PATH)/Bundles

DEPLOYED_BUILD_HEADER_PATH		= $(BUILD_PLATFORM_VERSION)/$(PRODUCT_NAME)/$(BUILD_HEADERS)/$(PRODUCT_NAME)
DEPLOYED_BUILD_LIBRARY_PATH		= $(BUILD_PLATFORM_VERSION)/$(PRODUCT_NAME)/$(BUILD_LIBRARY_VERSION_PATH)
