
//
//  Libraries.xcconfig
//

OBJC_LIBRARY			= -ObjC
OBJC_ALLLOAD			= -all_load

// stdlib / libSystem

STDLIB_HEADERS			= /usr/include
STDLIB_LIBRARY			= /usr/lib

// ObjC Runtime

OBJC_LIB				= -lobjc

// Lib Z compression

LIBZ_LIB				= -lz

// LibXML2

LIBXML2_HEADERS			= /usr/include/libxml2
LIBXML2_LIBRARY			= /usr/lib
LIBXML2_LIB				= -lxml2

// Frameworks

AVFOUNDATION_FX			= -framework AVFoundation
ADDRESSBOOK_FX			= -framework AddressBook
ADDRESSBOOKUI_FX		= -framework AddressBookUI
CFNETWORK_FX			= -framework CFNetwork
COREDATA_FX				= -framework CoreData
COREFOUNDATION_FX		= -framework CoreFoundation
COREGRAPHICS_FX			= -framework CoreGraphics
CORELOCATION_FX			= -framework CoreLocation
FOUNDATION_FX			= -framework Foundation
GAMEKIT_FX				= -framework GameKit
MAPKIT_FX				= -framework MapKit
MEDIAPLAYER_FX			= -framework MediaPlayer
MESSAGEUI_FX			= -framework MessageUI
MOBILECORESERVICES_FX	= -framework MobileCoreServices
OPENGLES_FX				= -framework OpenGLES
QUARTZCORE_FX			= -framework QuartzCore
SECURITY_FX				= -framework Security
STOREKIT_FX				= -framework StoreKit
SYSTEMCONFIGURATION_FX	= -framework SystemConfiguration
UIKIT_FX				= -framework UIKit

SENTESTINGKIT_FX		= -framework SenTestingKit

//
// Libraries
//

// FoundationKit

FOUNDATION_KIT_HEADER_PATH		= $(BUILD_PLATFORM_VERSION)/FoundationKit/$(BUILD_HEADERS)/
FOUNDATION_KIT_LIBRARY_PATH		= $(BUILD_PLATFORM_VERSION)/FoundationKit/
FOUNDATION_KIT_LIBRARY_FLAG		= -lFoundationKit

// StorageKit

STORAGE_KIT_HEADER_PATH			= $(BUILD_PLATFORM_VERSION)/StorageKit/$(BUILD_HEADERS)/
STORAGE_KIT_LIBRARY_PATH		= $(BUILD_PLATFORM_VERSION)/StorageKit/
STORAGE_KIT_LIBRARY_FLAG		= -lStorageKit

// WebServiceKit

WEBSERVICE_KIT_HEADER_PATH		= $(BUILD_PLATFORM_VERSION)/WebServiceKit/$(BUILD_HEADERS)/
WEBSERVICE_KIT_LIBRARY_PATH		= $(BUILD_PLATFORM_VERSION)/WebServiceKit/
WEBSERVICE_KIT_LIBRARY_FLAG		= -lWebServiceKit


//
// Forked Vendor Libraries
//

// JSONKit

JSON_KIT_HEADER_PATH			= $(BUILD_PLATFORM_VERSION)/JSONKit/$(BUILD_HEADERS)/
JSON_KIT_LIBRARY_PATH			= $(BUILD_PLATFORM_VERSION)/JSONKit/
JSON_KIT_LIBRARY_FLAG			= -lJSONKit

// XMLKit

XML_KIT_HEADER_PATH				= $(BUILD_PLATFORM_VERSION)/XMLKit/$(BUILD_HEADERS)/
XML_KIT_LIBRARY_PATH			= $(BUILD_PLATFORM_VERSION)/XMLKit/
XML_KIT_LIBRARY_FLAG			= -lXMLKit

// UXKit

UXKIT_HEADER_PATH				= $(BUILD_PLATFORM_VERSION)/UXKit/$(BUILD_HEADERS)/
UXKIT_LIBRARY_PATH				= $(BUILD_PLATFORM_VERSION)/UXKit/
UXKIT_LIBRARY_FLAG				= -lUXKit
