
//
//  Settings.xcconfig
//

BUILD_SHARED_ROOT			= $(SRCROOT)/../../../Build
BUILD_SHARED_APPS			= $(BUILD_SHARED_ROOT)/Applications
BUILD_SHARED_BUNDLES		= $(BUILD_SHARED_ROOT)/Bundles
BUILD_SHARED_DOCUMENTS		= $(BUILD_SHARED_ROOT)/Documents
BUILD_SHARED_LIBRARIES		= $(BUILD_SHARED_ROOT)/Libraries
BUILD_SHARED_TOOLS			= $(BUILD_SHARED_ROOT)/Tools
BUILD_SHARED_TESTS			= $(BUILD_SHARED_ROOT)/UnitTests

BUILD_PLATFORM				= $(BUILD_SHARED_LIBRARIES)/$(PLATFORM_NAME).sdk
BUILD_PLATFORM_VERSION		= $(BUILD_PLATFORM)/$(IPHONEOS_DEPLOYMENT_TARGET)

BUILD_LIBRARY_VERSION		= A
BUILD_LIBRARY_VERSION_PATH	= Versions/$(BUILD_LIBRARY_VERSION)

BUILD_HEADERS				= $(BUILD_LIBRARY_VERSION_PATH)/Headers
BUILD_RESOURCES				= $(BUILD_LIBRARY_VERSION_PATH)/Resources
