<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Configurations/Debug.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configurations</string>
			</array>
			<key>Path</key>
			<string>Configurations/Debug.xcconfig</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Configurations/Library.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configurations</string>
			</array>
			<key>Path</key>
			<string>Configurations/Library.xcconfig</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Configurations/Project.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configurations</string>
			</array>
			<key>Path</key>
			<string>Configurations/Project.xcconfig</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Configurations/Release.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configurations</string>
			</array>
			<key>Path</key>
			<string>Configurations/Release.xcconfig</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Configurations/UnitTests.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configurations</string>
			</array>
			<key>Path</key>
			<string>Configurations/UnitTests.xcconfig</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Configurations/Version.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configurations</string>
			</array>
			<key>Path</key>
			<string>Configurations/Version.xcconfig</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Project/___PACKAGENAMEASIDENTIFIER___.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Project</string>
			</array>
			<key>Path</key>
			<string>Project/___PACKAGENAMEASIDENTIFIER___.h</string>
		</dict>
		<key>Project/Library/___PACKAGENAMEASIDENTIFIER___Library.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Project</string>
				<string>Library</string>
			</array>
			<key>Path</key>
			<string>Project/Library/___PACKAGENAMEASIDENTIFIER___Library.h</string>
		</dict>
		<key>Project/Library/___PACKAGENAMEASIDENTIFIER___Library.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Project</string>
				<string>Library</string>
			</array>
			<key>Path</key>
			<string>Project/Library/___PACKAGENAMEASIDENTIFIER___Library.m</string>
		</dict>
		<key>Classes/___PACKAGENAMEASIDENTIFIER___Object.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PACKAGENAMEASIDENTIFIER___Object.h</string>
		</dict>
		<key>Classes/___PACKAGENAMEASIDENTIFIER___Object.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PACKAGENAMEASIDENTIFIER___Object.m</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template builds a static library that links against the Foundation framework.</string>
	<key>Identifier</key>
	<string>com.semantap.buildkit.library.ios</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Configurations/Library.xcconfig</string>
		<string>Configurations/Project.xcconfig</string>
		<string>Configurations/Debug.xcconfig</string>
		<string>Configurations/Release.xcconfig</string>
		<string>Configurations/UnitTests.xcconfig</string>
		<string>Configurations/Version.xcconfig</string>
		<string>Classes/___PACKAGENAMEASIDENTIFIER___Object.h</string>
		<string>Classes/___PACKAGENAMEASIDENTIFIER___Object.m</string>
		<string>Project/___PACKAGENAMEASIDENTIFIER___.h</string>
		<string>Project/Library/___PACKAGENAMEASIDENTIFIER___Library.h</string>
		<string>Project/Library/___PACKAGENAMEASIDENTIFIER___Library.m</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>BasedOn</key>
		<dict>
			<key>Debug</key>
			<string>Configurations/Project.xcconfig</string>
			<key>Release</key>
			<string>Configurations/Project.xcconfig</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict/>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BasedOn</key>
			<dict>
				<key>Debug</key>
				<string>Configurations/Debug.xcconfig</string>
				<key>Release</key>
				<string>Configurations/Release.xcconfig</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Headers</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>CopyFiles</string>
					<key>DstPath</key>
					<string>$(BUILD_SHARED_BUNDLES_PATH)</string>
					<key>DstSubfolderSpec</key>
					<string>0</string>
					<key>Name</key>
					<string>Deploy Resource Bundle</string>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>Deploy Static Library</string>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<string>NO</string>
					<key>ShellPath</key>
					<string>/bin/tcsh</string>
					<key>ShellScript</key>
					<string>${SCRIPT_DEPLOY_LIBRARY}</string>
				</dict>
			</array>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
			<key>Dependencies</key>
			<array>
				<integer>0</integer>
			</array>
			<key>Frameworks</key>
			<array>
				<string>Foundation</string>
			</array>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>OtherFrameworks</key>
			<array>
				<string>AddressBook</string>
				<string>AddressBookUI</string>
				<string>AssetsLibrary</string>
				<string>AVFoundation</string>
				<string>CFNetwork</string>
				<string>CoreData</string>
				<string>CoreFoundation</string>
				<string>CoreGraphics</string>
				<string>CoreLocation</string>
				<string>CoreMotion</string>
				<string>CoreText</string>
				<string>EventKit</string>
				<string>EventKitUI</string>
				<string>GameKit</string>
				<string>ImageIO</string>
				<string>MapKit</string>
				<string>MediaPlayer</string>
				<string>MessageUI</string>
				<string>MobileCoreServices</string>
				<string>QuartzCore</string>
				<string>QuickLook</string>
				<string>StoreKit</string>
				<string>SystemConfiguration</string>
				<string>UIKit</string>
			</array>
			<key>ProductType</key>
			<string>com.apple.product-type.library.static</string>
			<key>SharedSettings</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
