<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Configurations/Application.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configurations</string>
			</array>
			<key>Path</key>
			<string>Configurations/Application.xcconfig</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Configurations/Debug.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configurations</string>
			</array>
			<key>Path</key>
			<string>Configurations/Debug.xcconfig</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Configurations/Project.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configurations</string>
			</array>
			<key>Path</key>
			<string>Configurations/Project.xcconfig</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Configurations/Release.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configurations</string>
			</array>
			<key>Path</key>
			<string>Configurations/Release.xcconfig</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Configurations/Version.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configurations</string>
			</array>
			<key>Path</key>
			<string>Configurations/Version.xcconfig</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/ApplicationDelegate/___PACKAGENAMEASIDENTIFIER___ApplicationDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>ApplicationDelegate</string>
			</array>
			<key>Path</key>
			<string>Classes/ApplicationDelegate/___PACKAGENAMEASIDENTIFIER___ApplicationDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/ApplicationDelegate/___PACKAGENAMEASIDENTIFIER___ApplicationDelegate.m</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Classes</string>
				<string>ApplicationDelegate</string>
			</array>
			<key>Path</key>
			<string>Classes/ApplicationDelegate/___PACKAGENAMEASIDENTIFIER___ApplicationDelegate.m</string>
			<key>TargetIndices</key>
			<array>
				<string>0</string>
			</array>
		</dict>
		<key>Classes/ApplicationDelegate/___PACKAGENAMEASIDENTIFIER___UserDefaults.h</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Classes</string>
				<string>ApplicationDelegate</string>
			</array>
			<key>Path</key>
			<string>Classes/ApplicationDelegate/___PACKAGENAMEASIDENTIFIER___UserDefaults.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/ApplicationDelegate/___PACKAGENAMEASIDENTIFIER___UserDefaults.m</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Classes</string>
				<string>ApplicationDelegate</string>
			</array>
			<key>Path</key>
			<string>Classes/ApplicationDelegate/___PACKAGENAMEASIDENTIFIER___UserDefaults.m</string>
			<key>TargetIndices</key>
			<array>
				<string>0</string>
			</array>
		</dict>
		<key>Classes/Controllers/___PACKAGENAMEASIDENTIFIER___DetailViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Classes</string>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>Classes/Controllers/___PACKAGENAMEASIDENTIFIER___DetailViewController.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Controllers/___PACKAGENAMEASIDENTIFIER___DetailViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Classes</string>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>Classes/Controllers/___PACKAGENAMEASIDENTIFIER___DetailViewController.m</string>
		</dict>
		<key>Classes/Controllers/___PACKAGENAMEASIDENTIFIER___MasterViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Classes</string>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>Classes/Controllers/___PACKAGENAMEASIDENTIFIER___MasterViewController.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Controllers/___PACKAGENAMEASIDENTIFIER___MasterViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Classes</string>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>Classes/Controllers/___PACKAGENAMEASIDENTIFIER___MasterViewController.m</string>
		</dict>
		<key>Project/___PACKAGENAMEASIDENTIFIER___.pch</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Project</string>
			</array>
			<key>Path</key>
			<string>Project/___PACKAGENAMEASIDENTIFIER___.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Project/main.m</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Project</string>
			</array>
			<key>Path</key>
			<string>Project/main.m</string>
		</dict>
		<key>Resources/Media/Icon/Icon-72.png</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Resources</string>
				<string>Media</string>
				<string>Icon</string>
			</array>
			<key>Path</key>
			<string>Resources/Media/Icon/Icon-72.png</string>
		</dict>
		<key>Resources/Media/Icon/Icon-Small-50.png</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Resources</string>
				<string>Media</string>
				<string>Icon</string>
			</array>
			<key>Path</key>
			<string>Resources/Media/Icon/Icon-Small-50.png</string>
		</dict>
		<key>Resources/Media/Icon/Icon-Small.png</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Resources</string>
				<string>Media</string>
				<string>Icon</string>
			</array>
			<key>Path</key>
			<string>Resources/Media/Icon/Icon-Small.png</string>
		</dict>
		<key>Resources/Media/Icon/Icon-Small@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Resources</string>
				<string>Media</string>
				<string>Icon</string>
			</array>
			<key>Path</key>
			<string>Resources/Media/Icon/Icon-Small@2x.png</string>
		</dict>
		<key>Resources/Media/Icon/Icon.png</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Resources</string>
				<string>Media</string>
				<string>Icon</string>
			</array>
			<key>Path</key>
			<string>Resources/Media/Icon/Icon.png</string>
		</dict>
		<key>Resources/Media/Icon/Icon@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Resources</string>
				<string>Media</string>
				<string>Icon</string>
			</array>
			<key>Path</key>
			<string>Resources/Media/Icon/Icon@2x.png</string>
		</dict>
		<key>Resources/Media/Icon/iTunesArtwork</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Resources</string>
				<string>Media</string>
				<string>Icon</string>
			</array>
			<key>Path</key>
			<string>Resources/Media/Icon/iTunesArtwork</string>
		</dict>
		<key>Resources/Media/Launch/Default@2x~iphone.png</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Resources</string>
				<string>Media</string>
				<string>Launch</string>
			</array>
			<key>Path</key>
			<string>Resources/Media/Launch/Default@2x~iphone.png</string>
		</dict>
		<key>Resources/Media/Launch/Default~iphone.png</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Resources</string>
				<string>Media</string>
				<string>Launch</string>
			</array>
			<key>Path</key>
			<string>Resources/Media/Launch/Default~iphone.png</string>
		</dict>
		<key>Resources/PropertyLists/Info.plist</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Resources</string>
				<string>PropertyLists</string>
			</array>
			<key>Path</key>
			<string>Resources/PropertyLists/Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/PropertyLists/UserDefaults.plist</key>
		<dict>
			<key>Group</key>
			<array>
				
				<string>Resources</string>
				<string>PropertyLists</string>
			</array>
			<key>Path</key>
			<string>Resources/PropertyLists/UserDefaults.plist</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>A BuildKit template for any application providing an application delegate and a window.</string>
	<key>Identifier</key>
	<string>com.semantap.buildkit.application.ios</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Configurations/Application.xcconfig</string>
		<string>Configurations/Project.xcconfig</string>
		<string>Configurations/Debug.xcconfig</string>
		<string>Configurations/Release.xcconfig</string>
		<string>Configurations/Version.xcconfig</string>
		<string>Classes/ApplicationDelegate/___PACKAGENAMEASIDENTIFIER___ApplicationDelegate.h</string>
		<string>Classes/ApplicationDelegate/___PACKAGENAMEASIDENTIFIER___ApplicationDelegate.m</string>
		<string>Classes/ApplicationDelegate/___PACKAGENAMEASIDENTIFIER___UserDefaults.h</string>
		<string>Classes/ApplicationDelegate/___PACKAGENAMEASIDENTIFIER___UserDefaults.m</string>
		<string>Classes/Controllers/___PACKAGENAMEASIDENTIFIER___MasterViewController.h</string>
		<string>Classes/Controllers/___PACKAGENAMEASIDENTIFIER___MasterViewController.m</string>
		<string>Classes/Controllers/___PACKAGENAMEASIDENTIFIER___DetailViewController.h</string>
		<string>Classes/Controllers/___PACKAGENAMEASIDENTIFIER___DetailViewController.m</string>
		<string>Project/___PACKAGENAMEASIDENTIFIER___.pch</string>
		<string>Project/main.m</string>
		<string>Resources/Media/Icon/Icon-72.png</string>
		<string>Resources/Media/Icon/Icon-Small-50.png</string>
		<string>Resources/Media/Icon/Icon-Small.png</string>
		<string>Resources/Media/Icon/Icon-Small@2x.png</string>
		<string>Resources/Media/Icon/Icon.png</string>
		<string>Resources/Media/Icon/Icon@2x.png</string>
		<string>Resources/Media/Icon/iTunesArtwork</string>
		<string>Resources/Media/Launch/Default~iphone.png</string>
		<string>Resources/Media/Launch/Default@2x~iphone.png</string>
		<string>Resources/PropertyLists/Info.plist</string>
		<string>Resources/PropertyLists/UserDefaults.plist</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Your company&apos;s bundle identifier prefix.</string>
			<key>EmptyReplacement</key>
			<string>com.yourcompany</string>
			<key>Identifier</key>
			<string>bundleIdentifierPrefix</string>
			<key>Name</key>
			<string>Company Identifier</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>Description</key>
			<string>Your new product&apos;s bundle identifier.</string>
			<key>Identifier</key>
			<string>bundleIdentifier</string>
			<key>Name</key>
			<string>Bundle Identifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>BasedOn</key>
		<dict>
			<key>Debug</key>
			<string>Configurations/Project.xcconfig</string>
			<key>Release</key>
			<string>Configurations/Project.xcconfig</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict/>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BasedOn</key>
			<dict>
				<key>Debug</key>
				<string>Configurations/Debug.xcconfig</string>
				<key>Release</key>
				<string>Configurations/Release.xcconfig</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/tcsh</string>
					<key>ShellScript</key>
					<string>#${SCRIPT_COPY_RESOURCE_BUNDLE} ${MYLIBRARYKIT_RESOURCE_BUNDLE_NAME}</string>
				</dict>
			</array>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
			<key>Dependencies</key>
			<array>
				<integer>0</integer>
			</array>
			<key>Frameworks</key>
			<array>
				<string>CoreData</string>
				<string>CoreGraphics</string>
				<string>Foundation</string>
				<string>QuartzCore</string>
				<string>UIKit</string>
			</array>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>OtherFrameworks</key>
			<array>
				<string>AddressBook</string>
				<string>AddressBookUI</string>
				<string>AssetsLibrary</string>
				<string>AVFoundation</string>
				<string>CFNetwork</string>
				<string>CoreFoundation</string>
				<string>CoreLocation</string>
				<string>CoreMotion</string>
				<string>CoreText</string>
				<string>EventKit</string>
				<string>EventKitUI</string>
				<string>GameKit</string>
				<string>ImageIO</string>
				<string>MapKit</string>
				<string>MediaPlayer</string>
				<string>MessageUI</string>
				<string>MobileCoreServices</string>
				<string>QuickLook</string>
				<string>StoreKit</string>
				<string>SystemConfiguration</string>
			</array>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
